<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Efetue Login</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ base_url() }}/assets/admin/plugins/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
        <link rel="stylesheet" href="{{ base_url() }}/assets/admin/css/theme.min.css" />

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
        <link href="{{ base_url() }}/assets/admin/css/custom.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 left-wraper text-center">
                    <a href="{{ base_url() }}" title=""><img src="{{ base_url() }}/assets/imgs/logo-site.png" alt="" /></a>
                    <h1>Seja bem-vindo!</h1>
                </div>
                <div class="col-md-6 right-wraper">

                    <div class="card-body login-card-body">
                        <h3 class="login-box-msg text-uppercase">Área de Membro</h3>

                        <form id="FormUser" action="{{ base_url() }}/auth" class="form-horizontal" method="post" autocomplete="off">
                            <div class="form-group">
                                <input type="email" name="login" class="form-control form-control-lg" placeholder="Email/Login" required>
                            </div>
                            <!--<div class="form-group">
                                <input type="password" name="pass" class="form-control form-control-lg" placeholder="Senha">
                            </div>-->

                            <div id="show_hide_password" class="input-group mb-3">
                                <input type="password" name="pass" class="form-control form-control-lg" placeholder="Senha" required>
                                <div class="input-group-append toggle-password">
                                    <div class="input-group-text">
                                        <a href=""><i class="fa fa-eye-slash"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--<div class="col-8">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember">
                                        <label for="remember"> Manter-me Conectado </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block" onclick="submitFormLogin();">Entrar</button>
                                </div>
                            </div>
                        </form>

                        <p><br /></p>
                        <p class="mb-3 mt-3 text-center"> <a href="{{ base_url() }}/forgot-password">Esqueci Minha Senha</a> </p>
                        {#<p class="mb-0 text-center"> <a href="register.html" class="register-button">Faça seu Cadastro</a> </p>#}
                        <p class="mb-0 text-center">&nbsp;</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="footer col-md-12">
                    Copyright &copy; 2020 - {{ 'now'|date('Y') }}. Desenvolvido usando RedBeanPHP + Twig + SlimPHP 3
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>

        <script src="{{ base_url() }}/assets/admin/plugins/jquery/jquery.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="{{ base_url() }}/assets/admin/js/theme.min.js"></script>

        <script src="{{ base_url() }}/assets/js/lib/md5-min.js"></script>
        <script src="{{ base_url() }}/assets/admin/js/login.js"></script>
        <script src="{{ base_url() }}/assets/js/lib/hideShowPassword.min.js"></script>
        
    </body>
</html>